{% extends 'layout.html.twig' %}

{% block content %}

<h1 id="{{ report.date }}">{{ 'Report_Of'|trans }} {{ report.date }}</h1>

<div class="row">
    <div class="col-lg-12">
        <div class="well bs-component">
            <form action="#" method="post" id="form-report" class="form-horizontal">
                {{ form_widget(form) }}
                <div class="form-group">
                    <div class="col-lg-10 col-lg-offset-2">
                        <button type="submit" class="btn btn-primary" id="valid_btn">Submit</button>
                    </div>
                </div>
            </form>
        </div>
        <div id="conent"></div>
    </div>
</div>
{% endblock %}